.poststat-container {
  height: 100%;
  width: 100%;
  padding: 20px;
  padding-left: 40px;

  .performance-stats-container {
    width: 300px;
  }

  // .perkey-stats-container {
  // 	background-color: blue;
  // }

  .stat-text {
    color: #F2F2F2;
  }
}
